<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>AngularJS Todo</title>
        <link href="../Content/Styles/bootstrap.min.css" rel="stylesheet" />
        <link href="../Content/Styles/style.css" rel="stylesheet" />
    </head>
    <body>
       
        <div class="container">
        </div>
        
        <script src="../Content/Scripts/jquery-1.9.0.min.js"></script>
        <script src="../Content/Scripts/bootstrap.min.js"></script>
        <script src="../Content/Scripts/angular.min.js"></script>
        <script src="../Content/Scripts/angular-route.min.js"></script>
        <script src="../Content/Scripts/angular-resource.min.js"></script>

        <script src="../Content/Scripts/app.js"></script>
    </body>
</html>